body {
  padding: 0;
  margin: 0;
  background: #f6f6f6;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.login {
  position: absolute;
  z-index: 9999;
  display: none;
  background-color: white;
  /* 这里要注意绝对定位的盒子怎么在屏幕显示居中 */
  left: 50%;
  margin-left: -256px;
  margin-top: 142px;
}

.container {
  /*width: 100%;*/
  /*height: 100vh;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  background-color: white;
}
.wrap{
  width: 320px;
  height: 260px;
  display: flex;
  flex-direction: column;
  padding: 25px 45px 35px 45px;
  box-shadow: 0 15px 22px -5px rgb(40 75 96 / 18%);
  border-radius: 6px;
  background-color: #fff;
}
.content{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container{
  display: flex;
  justify-content: space-around;
}
.btn-container a{
  color: #fff;
  background-color: #06f;
  border-color: #06f;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
}
body{
  position: relative;
}
.button-primary{
  padding: 10px 16px;
  background-color: #1890ff;
  color:  #ffffff;
  border: 1px solid #1890ff;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}
.button-primary:hover{
  background-color: #40a9ff;
  border: 1px solid #40a9ff;
}
.notice{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.mask{
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
.box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  background-color: #ffffff;
  border-radius: 6px;
  min-width: 460px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.content{
  padding: 60px 24px;
}
.footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  min-height: 52px;
  padding: 10px 16px;
  border-top: 1px solid #f0f0f0;
}
.visible .mask{
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.45);
}
.visible .box{
  visibility: visible;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}